<footer>
  <p mt-8 text-xs op-30>
    <span pr-1>Made by</span>
    <a b-slate-link href="https://bento.me/constpc" target="_blank">
      constpc
    </a>
    <span px-1>|</span>
    <a b-slate-link href="mailto:pengchengG1@outlook.com" target="_blank"
      >联系</a
    >
    <span px-1>|</span>
    <a b-slate-link href="https://translation.testcode.icu/" target="_blank"
      >翻译</a
    >
    <span px-1>|</span>
    <a b-slate-link href="https://fate.testcode.icu/" target="_blank"
      >算命</a
    >
    <span px-1>|</span>
    <a b-slate-link href="https://prompts.testcode.icu/" target="_blank"
      >提示</a
    >
  </p>
</footer>
